header{
    background: url(chart.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
}

body{

    background: light grey;
    font-family: "Verdana", Verdana, serif;
        text-align: center;
    margin: 0;

    }


h1{
    color:white;
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 4px 4px 20px #000;
    text-align: center;
    font-family: arial;
}

h3{
    color:white;
    font-size: 200%;
    text-transform: uppercase;
    text-shadow: 4px 4px 20px #000;
    text-align: center;
    font-family: arial;
}

p {
    font-family: 'Comfortaa';
    font-size: 18px;


 }

 .column {
     float: left;
     width: 20%;
 }

 /* Clear floats after the columns */
 .row:after {
     content: "";
     display: table;
     clear: both;
 }
 .divcolumn {

      float: left;
      width: 50%;
      height: 500px;
      background: grey;
  }

  /* Clear floats after the columns */
  .divider:after {
      content: "";
      display: table;
      clear: both;
  }

.br{
height: 100px;
}

.br2{
height:50px;
}

.map{
    width:50%;

    }
nav {
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    text-align: center;

}

li {
    float: left;
    display: inline;
}

li a {
    display: block;
    color:  white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

li a:hover {
    background-color: #111;
    color: white;
    font-size: 20px;
}

a{
color: black;
}

div{
padding-top: 30px;
}

.task{
width: 50%;
}